<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Find a dev</title>

        <!-- Styles -->
        <link rel="stylesheet" href="./css/reset.css" />
        <link rel="stylesheet" href="./css/style.css" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet"> 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	</head>
	<body>
        <header>
            <a class="a--title" href="/">
                <h1 class="title">Find a dev</h1>
            </a>
        
            <form action="/developerForm" method="GET">
                <button class="form--button offer-help">Offer Help</button>
            </form>
        </header>

        <section class="header--forms">
            <form action="/findDevs" method="GET">
                <ul class="tags">
                    <li>
                        <button class="form--button tag HTML" name="tag" value="HTML">HTML</button>
                    </li>
                    <li>
                        <button class="form--button tag CSS" name="tag" value="CSS">CSS</button>
                    </li>
                    <li>
                        <button class="form--button tag JavaScript" name="tag" value="JavaScript">JavaScript</button>
                    </li>
                    <li>
                        <button class="form--button tag Node" name="tag" value="Node">Node</button>
                    </li>
                    <li>
                        <button class="form--button tag MongoDB" name="tag" value="MongoDB">MongoDB</button>
                    </li>
                    <li>
                        <button class="form--button tag EJS" name="tag" value="EJS">EJS</button>
                    </li>
                    <li>
                        <button class="form--button tag Handlebars" name="tag" value="Handlebars">Handlebars</button>
                    </li>
                    <li>
                        <button class="form--button tag React" name="tag" value="React">React</button>
                    </li>
                </ul>
            </form>
        </section>

        <ul class="devs">
            <% for(let i = 0; i < devs.length; i++) { %>
                <li class="developer">
                    <img class="dev--avatar" src="<%= devs[i].avatar %>" />
                    
                    <div class="content--container">                    
                        <div class="content--desktop">
                            <h2 class="dev--name"><%= devs[i].name %></h2>
                            
                            <ul class="dev--skills desktop">
                                <% for(let j = 0; j < devs[i].skills.length; j++) { %>
                                    <li class="tag <%= devs[i].skills[j] %>"><%= devs[i].skills[j] %></li>
                                <% } %>
                            </ul>

                            <h3 class="dev--expertise"><%= devs[i].expertise %></h3>
                        
                            <ul class="dev--socials">
                                <li>
                                    <a href="<%= devs[i].twitter %>" target="_blank">
                                        <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= devs[i].linkedin %>" target="_blank">
                                        <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                                    </a>
                                </li>
                                <li>
                                    <a href="<%= devs[i].github %>" target="_blank">
                                        <img class="icon--github" src="./assets/icons/github.svg" />
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="display-mobile">
                            <ul class="dev--skills mobile">
                                <% for(let j = 0; j < devs[i].skills.length; j++) { %>
                                    <li class="tag <%= devs[i].skills[j] %>"><%= devs[i].skills[j] %></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>

        <footer>
            <h4>created by <a class="author" href="https://brianschnee.com/" target="_blank">Brian Schnee</a></h4>
        </footer>
	</body>
</html>
